.films {
    width: 100%;
    padding: 2%;
    .film {
        border-bottom: 1px solid lightgray;
        padding-bottom: 4%;
        .film-name {
            font-weight: 600;
            font-size: 17px;
        }
        .film-date {
            font-size: 13px;
            color: lightgreen;
        }
        .film-description {
            font-size: 13px;
            color: lightgray;
        }
    }
}
form {
    width: 100%;
    text-align: center;
}