<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Films
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Films</ion-title>
    </ion-toolbar>
  </ion-header>
  <form>
    <ion-input [(ngModel)]="newFilm.title" placeholder="Titre" name="title"></ion-input>
    <ion-input [(ngModel)]="newFilm.dateSortie" type="date" name="date"></ion-input>
    <ion-input [(ngModel)]="newFilm.description" placeholder="Description" name="description"></ion-input>
    <ion-button (click)="addFilm()">Ajouter</ion-button>
  </form>

  <div class="films">
    <div class="film" *ngFor="let film of films; let i = index">
      <div class="film-name" (click)="setInUpdate(film, true)" *ngIf="film.inUpdate !== true">{{film.title}}</div>
      <div *ngIf="film.inUpdate === true">
        <input [(ngModel)]="film.title"/><ion-button (click)="setInUpdate(film, false)">OK</ion-button>
      </div>
      <div class="film-date">{{film.dateSortie|date:'yyyy-m-d'}}</div>
      <div class="film-description">{{film.description}}</div>
      <ion-button (click)="removeFilm(i)">Supprimer</ion-button>
    </div>
  </div>
</ion-content>
